$color-blue-one: 0079ff;
$color-gray-one: #b3b3b3;
$color-gray-two: #cccccc;

@import './common.scss';
@import './mixins.scss';
@import './logo.scss';
@import './search-bar.scss';
@import './recent.scss';
@import './results.scss';
