.results-posts-container {
  @include post-container();

  .result-post {
    margin-top: 20px;

    .result-post-title a {
      color: $color-blue-one !important;
    }

    .result-post-links {
      margin-top: 10px;
      height: 70px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      a {
        color: $color-gray-one;
      }
    }
    &:hover {
      .result-post-links {
        height: 70px;
        display: block;
      }
    }
  }
}
